@model Sanabel.Cases.App.Model.CaseViewModel
@using BusinessSolutions.Localization;
@using Sanabel.Cases.App.Resources
@using BusinessSolutions.MVCCommon.Helpers
@using BusinessSolutions.Common.Infra.Extensions

@{
    ViewBag.Title = CasesResource.TakeAction;
}

@Html.Partial("_TempDataHeaderMessages")
@Html.Partial("_ViewDataHeaderMessages")
@using (Html.BeginForm("TakeAction", "Management", FormMethod.Post, new { @class = "form-horizontal" }))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })

    <div class="form-group row">
        <label class="col-md-2 form-control-label text-left">@Html.DisplayNameFor(model => model.CaseName)</label>
        <div class="col-md-4">

            @Html.DisplayFor(c => c.CaseName, new { @class = "form-control" })
            @Html.TextBoxFor(c => c.CaseName, new { style = "display: none;" })

        </div>
        <label class="col-md-2 form-control-label text-left">@Html.DisplayNameFor(model => model.Phone)</label>
        <div class="col-md-4">

            @Html.DisplayFor(c => c.Phone, new { @class = "form-control" })
            @Html.TextBoxFor(c => c.Phone, new { style = "display: none;" })
        </div>
    </div>

    <div class="form-group row">
        <label class="col-md-2 form-control-label text-left">@Html.DisplayNameFor(model => model.CountryName)</label>
        <div class="col-md-4">
            @Html.DisplayFor(c => c.CountryName, new { @class = "form-control" })
            @Html.TextBoxFor(c => c.CountryId, new { style = "display: none;" })

        </div>
        <label class="col-md-2 form-control-label text-left">@Html.DisplayNameFor(model => model.RegionName)</label>
        <div class="col-md-4">
            @Html.DisplayFor(c => c.RegionName, new { @class = "form-control" })
            @Html.TextBoxFor(c => c.RegionId, new { style = "display: none;" })
        </div>
    </div>
    <div class="form-group row">
        <label class="col-md-2 form-control-label text-left">@Html.DisplayNameFor(model => model.CityName)</label>
        <div class="col-md-4">
            @Html.DisplayFor(c => c.CityName, new { @class = "form-control" })
            @Html.TextBoxFor(c => c.CityId, new { style = "display: none;" })
        </div>
        <label class="col-md-2 form-control-label text-left">@Html.DisplayNameFor(model => model.DistrictName)</label>
        <div class="col-md-4">
         
            @Html.DisplayFor(c => c.DistrictName, new { @class = "form-control" })
            @Html.TextBoxFor(c => c.DistrictId, new { style = "display: none;" })
        </div>

    </div>
    <div class="form-group row">
        <label class="col-md-2 form-control-label text-left">@Html.DisplayNameFor(model => model.Gender)</label>
        <div class="col-md-4">
            @Model.Gender.GetLocalizedEnumDescription()
            @Html.TextBoxFor(c => c.Gender, new { style = "display: none;" })
        </div>
        <label class="col-md-2 form-control-label text-left">@Html.DisplayNameFor(model => model.CaseType)</label>
        <div class="col-md-4">
            @Model.CaseType.GetLocalizedEnumDescription()
            @Html.TextBoxFor(c => c.CaseType, new { style = "display: none;" })
        </div>
    </div>
    <div  class="form-group row">
        <label class="col-md-2 form-control-label text-left">@Html.DisplayNameFor(model => model.Address)</label>
        <div class="col-md-10">
            @Html.DisplayFor(c => c.Address, new { @class = "form-control" })
            @Html.TextBoxFor(c => c.Address, new { style = "display: none;" })
        </div>
    </div>
    <div class="form-group row">
        <label class="col-md-2 form-control-label text-left">@Html.DisplayNameFor(model => model.Description)</label>
        <div class="col-md-10">
            @Html.DisplayFor(c => c.Description, new { @class = "form-control" })
            @Html.TextBoxFor(c => c.Description, new { style = "display: none;" })
        </div>
    </div>

    <div class="form-group row">
        <label class="col-md-2 form-control-label text-left">@CasesResource.Decision</label>
        <div class="col-md-4">
            <label class="radio-inline" for="inline-radio1">
                @Html.RadioButtonFor(c => c.bAction, "Approved", new { @class = "radio-inline" })@CasesResource.Approve
            </label> &nbsp;
            <label class="radio-inline" for="inline-radio2">
                @Html.RadioButtonFor(c => c.bAction, "Reject", new { @class = "radio-inline" })@CasesResource.Reject
            </label>&nbsp;
            <label class="radio-inline" for="inline-radio2">
                @Html.RadioButtonFor(c => c.bAction, "Suspend", new { @class = "radio-inline" })@CasesResource.Suspend
            </label>
            @Html.ValidationMessageFor(model => model.bAction, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group row">
        <label class="col-md-2 form-control-label text-left">@Html.DisplayNameFor(model => model.Comment)</label>
        <div class="col-md-10">
            @Html.TextAreaFor(c => c.Comment, new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.Comment, "", new { @class = "text-danger" })
        </div>
    </div>


    <div class="form-group row">
        <label class="col-md-2 form-control-label text-left">&nbsp;</label>
        <div class="col-md-10">
            <button type="submit" class="btn btn-sm btn-success"><i class="fa fa-save"></i> @CommonResources.Save</button>
            <a href="@Url.Action("Approve")" class="btn btn-sm btn-info"><i class="fa fa-arrow-circle-left"></i> @CommonResources.BackToIndex</a>
        </div>
    </div>



}

