@model Sanabel.Cases.App.Model.CaseActionViewModel
@using BusinessSolutions.Localization;
@using Sanabel.Cases.App.Resources
@using BusinessSolutions.MVCCommon.Helpers
@using BusinessSolutions.Common.Infra.Extensions
@using Sanabel.Cases.App

@{
    ViewBag.Title = CasesResource.TakeAction;
}

@Html.Partial("_TempDataHeaderMessages")
@Html.Partial("_ViewDataHeaderMessages")
@using (Html.BeginForm("TakeAction", "Management", FormMethod.Post, new { @class = "form-horizontal" }))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })

    Html.RenderPartial("_CaseInfoDetails",Model.Case);


    @Scripts.Render("~/bundles/modernizr")
    <div class="form-group row">
        <label class="col-md-2 form-control-label text-left">@CasesResource.Decision</label>
        <div class="col-md-4">
            <label class="radio-inline" for="inline-radio1">
                @Html.RadioButtonFor(c => c.Status, "Approved", new { @class = "radio-inline", @id = "RadioApprove", onClick = "document.getElementById('CaseSuspensionDate').style.visibility = 'hidden'; " })@CasesResource.Approve

            </label> &nbsp;
            <label class="radio-inline" for="inline-radio2">
                @Html.RadioButtonFor(c => c.Status, "Rejected", new { @class = "radio-inline", @id = "RadioReject", onClick = "document.getElementById('CaseSuspensionDate').style.visibility = 'hidden'; " })@CasesResource.Reject
            </label>&nbsp;
            <label class="radio-inline" for="inline-radio2">
                @Html.RadioButtonFor(c => c.Status, "Suspended", new { @class = "radio-inline", @id = "RadioSuspend", onClick = "document.getElementById('CaseSuspensionDate').style.visibility = 'visible'; " })@CasesResource.Suspend
            </label>
            &nbsp;
            @Html.EditorFor(c => c.CaseSuspensionDate, new { htmlAttributes = new {  style = "visibility: hidden;", @id = "CaseSuspensionDate", placeholder = CasesResource.CaseSuspensionDate } })

            @Html.ValidationMessageFor(model => model.Action, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group row">
        <label class="col-md-2 form-control-label text-left">@Html.DisplayNameFor(model => model.Comment)</label>
        <div class="col-md-10">
            @Html.TextAreaFor(c => c.Comment, new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.Comment, "", new { @class = "text-danger" })
        </div>
    </div>


    <div class="form-group row">
        <label class="col-md-2 form-control-label text-left">&nbsp;</label>
        <div class="col-md-10">
            <button type="submit" class="btn btn-sm btn-success"><i class="fa fa-save"></i> @CommonResources.Save</button>
            <a href="@Url.Action("Approve")" class="btn btn-sm btn-info"><i class="fa fa-arrow-circle-left"></i> @CommonResources.BackToIndex</a>
        </div>
    </div>



}


@section Scripts {
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/jqueryui")
    <script src="http://code.jquery.com/jquery-1.9.1.js"></script>
    <script src="http://code.jquery.com/ui/1.11.0/jquery-ui.js"></script>
    <script type="text/javascript">
       
        $(function () {
            $("#CaseSuspensionDate").datepicker();
        });
    </script>
}
