@model CommonSettings.ViewModels.CountryViewModel
@using BusinessSolutions.Localization

@{
    ViewBag.Title = "إستعراض الدولة";
}


<div class="row">
    <div class="col-md-12">
        <div class="card">
            <div class="card-body card-table">
                <div class="row">
                    <div class="col-sm-12">
                        <h4 class="card-title font-weight-bold">إستعراض الدولة</h4><hr />
                    </div>
                </div>
                <div class="form-horizontal">


                    <div class="form-group row">
                        <label class="col-md-2 form-control-label text-left">@Html.DisplayNameFor(model => model.CountryCode)</label>
                        <div class="col-md-4">
                            @Html.DisplayFor(model => model.CountryCode)
                        </div>
                        <label class="col-md-2 form-control-label text-left">&nbsp;</label>
                        <div class="col-md-4">&nbsp;</div>
                    </div>

                    <div class="form-group row">
                        <label class="col-md-2 form-control-label text-left">@Html.DisplayNameFor(model => model.CountryName)</label>
                        <div class="col-md-4">
                            @Html.DisplayFor(model => model.CountryName)
                        </div>
                        <label class="col-md-2 form-control-label text-left">@Html.DisplayNameFor(model => model.CountryNameEn)</label>
                        <div class="col-md-4">
                            @Html.DisplayFor(model => model.CountryName)
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-md-2 form-control-label text-left">&nbsp;</label>
                        <div class="col-md-10">                            
                            <a href="@Url.Action("Edit", new { id = Model.CountryId })" class="btn btn-sm btn-info"><i class="fa fa-arrow-circle-left"></i> @CommonResources.Edit</a>
                            <a href="@Url.Action("Index")" class="btn btn-sm btn-info"><i class="fa fa-arrow-circle-left"></i> @CommonResources.BackToIndex</a>
                        </div>
                    </div>

                </div>

            </div>
        </div>
    </div>
</div>
