<ul class="nav">
    <li class="nav-item">
        <a class="nav-link" href="@Url.Action("Index", "Home", new { area = "" })"><i class="icon-speedometer"></i> الرئيسية</a>
    </li>
    
    <li class="nav-item nav-dropdown">
        <a class="nav-link nav-dropdown-toggle" href="#"><i class="icon-puzzle"></i> المتطوعون</a>
        <ul class="nav-dropdown-items">
            <li class="nav-item">
                <a class="nav-link" href="@Url.Action("Index", "Volunteer", new { area = "Volunteers"})"><i class="icon-puzzle"></i> المتطوعون</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="@Url.Action("Create", "Volunteer", new { area = "Volunteers"})"><i class="icon-puzzle"></i> إضافة متطوع</a>
            </li>
        </ul>
    </li>
    <li class="nav-item nav-dropdown">
        <a class="nav-link nav-dropdown-toggle" href="#"><i class="icon-star"></i> طالبي المساعدة</a>
        <ul class="nav-dropdown-items">
            <li class="nav-item">
                <a class="nav-link" href="@Url.Action("Index", "Management", new { area = "Cases"})"><i class="icon-star"></i> استعراض الحاليين <span class="badge badge-secondary">4700</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="@Url.Action("Create", "Management", new { area = "Cases"})"><i class="icon-star"></i> إضافة جديد</a>
            </li>
        </ul>
    </li>
    <li class="nav-item nav-dropdown">
        <a class="nav-link nav-dropdown-toggle" href="#"><i class="icon-calculator"></i> انتظار الموافقة</a>
        <ul class="nav-dropdown-items">
            <li class="nav-item">
                <a class="nav-link" href="#"><i class="icon-star"></i> استعراض الحاليين <span class="badge badge-secondary">4700</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#"><i class="icon-star"></i> إضافة جديد</a>
            </li>
        </ul>
    </li>
    <li class="nav-item nav-dropdown">
        <a class="nav-link nav-dropdown-toggle" href="#"><i class="icon-calculator"></i> الأشخاص المعتمدين</a>
        <ul class="nav-dropdown-items">
            <li class="nav-item">
                <a class="nav-link" href="#"><i class="icon-star"></i> استعراض الحاليين <span class="badge badge-secondary">4700</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#"><i class="icon-star"></i> إضافة جديد</a>
            </li>
        </ul>
    </li>
    <li class="nav-item" nav-dropdown>
        <a class="nav-link nav-dropdown-toggle" href="#"><i class="icon-calculator"></i> الإجراءات</a>
        <ul class="nav-dropdown-items">
            <li class="nav-item">
                <a class="nav-link" href="#"><i class="icon-star"></i> استعراض الحاليين <span class="badge badge-secondary">4700</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#"><i class="icon-star"></i> إضافة جديد</a>
            </li>
        </ul>
    </li>
    <li class="nav-item nav-dropdown">
        <a class="nav-link nav-dropdown-toggle" href="#"><i class="icon-calculator"></i> بحث عن الحالات</a>
        <ul class="nav-dropdown-items">
            <li class="nav-item">
                <a class="nav-link" href="@Url.Action("Index", "Management", new { Area = "Cases" })"><i class="icon-star"></i> استعراض الحاليين <span class="badge badge-secondary">4700</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#"><i class="icon-star"></i> إضافة جديد</a>
            </li>
        </ul>
    </li>
    @if (User.IsInRole("Administrator"))
    {
        <li class="nav-item nav-dropdown">
            <a class="nav-link nav-dropdown-toggle" href="#"><i class="icon-calculator"></i>الإعدادات</a>
            <ul class="nav-dropdown-items">
                <li class="nav-item">
                    <a class="nav-link" href="@Url.Action("Index", "Countries", new { Area = "Settings" })"><i class="icon-star"></i>الدول</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="@Url.Action("Index", "Regions", new { Area = "Settings" })"><i class="icon-star"></i>المناطق</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="@Url.Action("Index", "Cities", new { Area = "Settings" })"><i class="icon-star"></i>المدن</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="@Url.Action("Index", "Districts", new { Area = "Settings" })"><i class="icon-star"></i>الأحياء</a>
                </li>
            </ul>
        </li>
        <li class="nav-item nav-dropdown">
            <a class="nav-link nav-dropdown-toggle" href="#"><i class="icon-calculator"></i>تأمين البيانات</a>
            <ul class="nav-dropdown-items">
                <li class="nav-item">
                    <a class="nav-link" href="@Url.Action("Index", "Users", new { Area = "" })"><i class="icon-star"></i>المستخدمين</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="@Url.Action("Create", "Users", new { Area = "" })"><i class="icon-star"></i>إنشاء مستخدم</a>
                </li>
            </ul>
        </li>
    }
</ul>
