<!DOCTYPE html>
<html dir="rtl" lang="ar">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="shortcut icon" href="img/favicon.png">
    <title>@ViewBag.Title - سنابل</title>

    <!-- Icons -->
    <link href="@Url.Content("~/Content/font-awesome/css/font-awesome.min.css")" rel="stylesheet">
    <link href="@Url.Content("~/Content/simple-line-icons/css/simple-line-icons.css")" rel="stylesheet">
    <link href="@Url.Content("~/fonts/fonts.css")" rel="stylesheet">
    <!-- Main styles for this application -->
    <link href="@Url.Content("~/Content/css/style.css")" rel="stylesheet">
    <!-- Styles required by this views -->
</head>
<body class="app header-fixed sidebar-fixed aside-menu-fixed aside-menu-hidden">

    @Html.Partial("_AppHeader")
    <div class="app-body">
        <div class="sidebar">
            <nav class="sidebar-nav">
                @Html.Partial("_AppMenu")
            </nav>
            <button class="sidebar-minimizer brand-minimizer" type="button"></button>
        </div>
        <!-- Main content -->
        <main class="main">
            <!-- Breadcrumb -->
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="#">الرئيسية</a></li>
                <li class="breadcrumb-item active">لوحة التحكم</li>

            </ol>
            <div class="container-fluid">
                <div class="animated fadeIn">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="card">
                                <div class="card-body card-table">
                                    <div class="row">
                                        <div class="col-sm-12">
                                            <h4 class="card-title font-weight-bold">@ViewBag.Title</h4><hr />
                                        </div>
                                    </div>
                                    @RenderBody()
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- /.conainer-fluid -->
        </main>
        @Html.Partial("_AppSettingLeftSide")
    </div>
    <footer class="app-footer text-muted">
        <span> حقوق الملكية محفوظة © 2017 </span>

    </footer>
    <!-- Bootstrap and necessary plugins -->
    <script src="@Url.Content("~/scripts/jquery.min.js")"></script>
    <script src="@Url.Content("~/scripts/popper.min.js")"></script>
    <script src="@Url.Content("~/scripts/bootstrap.min.js")"></script>
    <script src="@Url.Content("~/scripts/pace.min.js")"></script>

    <script src="@Url.Content("~/Scripts/Custom/Common.js")"></script>

    <!-- Plugins and scripts required by all views -->
    <script src="@Url.Content("~/scripts/Chart.min.js")"></script>

    <!-- GenesisUI main scripts -->
    <script src="@Url.Content("~/scripts/app.js")"></script>

    <!-- Custom scripts required by this view -->
    <script src="@Url.Content("~/scripts/views/main.js")"></script>
    <script>
        $.get("/api/Cases/count/?casestatus=", function (data) {
            $('#totalCasesCount').html(data);
        });

        $.get("/api/Cases/count/?casestatus=@Sanabel.Cases.App.Model.CaseStatus.New", function (data) {
            $('#totalNewCases').html(data);
        });

        $.get("/api/Cases/count/?casestatus=@Sanabel.Cases.App.Model.CaseStatus.Approved", function (data) {
            $('#totalApprovedCases').html(data);
        });

        $.get("/api/Cases/count/?casestatus=@Sanabel.Cases.App.Model.CaseStatus.Rejected", function (data) {
            $('#totalRejectedCases').html(data);
        });

        $.get("/api/Cases/count/?casestatus=@Sanabel.Cases.App.Model.CaseStatus.Suspended", function (data) {
            $('#totalSuspendedCases').html(data);
        });
    </script>
    @RenderSection("scripts", required: false)

</body>
</html>
