<!DOCTYPE html>

<html dir="rtl" lang="ar">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>@ViewBag.Title</title>

    @Styles.Render("~/Content/appcss")    
</head>
<body class="app flex-row align-items-center login-bg">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-8 text-center"><img src="@Url.Content("~/content/img/logo.png")" class="img-responsive" style="max-width:150px;margin-bottom:20px;" /></div>
            <div class="col-md-8">
                <div class="card-group mb-0">
                    @RenderBody()
                    <div class="card text-white bg-primary py-5 d-md-down-none" style="width:44%">
                        <div class="card-body text-center">
                            <div>
                                <img src="@Url.Content("~/content/img/login-icon.png")" class="img-responsive" />
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
